*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

#container{
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

}

article{
padding: 2rem;
background-color: rebeccapurple;
margin: .5rem;
border-radius: 3rem;
color: white;
}